<%- include('layout/_header') %>

	<section class="vh-100 bg-image"
		style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
		<div class="d-flex align-items-center h-100 gradient-custom-3">
			<div class="container h-100 my-2">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<% if (alert) { %>
							<div class="alert alert-<%= alert.type %> alert-dismissible fade show" role="alert">
								<strong>
									<%= alert.message %>
								</strong>
								<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<% } %>
								<div class="card" style="border-radius: 15px;">
									<div class="card-body p-5">
										<h2 class="text-uppercase text-center mb-5">User List</h2>

										<table class="table table-striped" id="user_table">
											<thead>
												<tr class="table-dark">
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Email</th>
													<th scope="col">Actions</th>
												</tr>
											</thead>
											<tbody>
												<% userList.rows.forEach((user,index)=> { %>
													<tr>
														<th scope="row">
															<%= index+1 %>
														</th>
														<td>
															<%= user.name %>
														</td>
														<td>
															<%= user.email %>
														</td>
														<td>
															<a href="/update?email=<%= user.email %>&name=<%= user.name %>"
																class="text-success me-2"><i class="fa fa-edit"></i></a>
															<a href="/delete/<%= user.email %>" class="text-danger"><i
																	class="fa fa-trash"></i></a>
														</td>

													</tr>
													<% }) %>
											</tbody>
										</table>
									</div>
								</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('layout/_footer') %>